h1,
p {
  margin: initial;
  padding: initial;
}

body {
  margin: 0;
  height: 100vh;
  background-image: url(./images/bg.png);
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-box {
  color: white;
  background-color: #93572e;
  padding: 10px 20px;
  border-radius: 0 0 20px 20px;
  position: relative;
  width: 300px;
  box-sizing: border-box;
}

.text-box > h1 {
  margin-top: 50px;
}

.text-box > img {
  position: absolute;
  top: 0;
  left: 0;
}
