/* font */
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

/* reset  */
* {
  font-family: "Noto Sans KR", sans-serif;
  box-sizing: border-box;
}

img {
  vertical-align: top;
}

ul,
p,
body {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}
.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

/* layout */
body {
  min-height: 100vh;
  background: #eae8fe;
}

body::before {
  content: "";
  display: block;
  height: 206px;
  background: url(../img/logo.svg) no-repeat center top / contain;
  margin-bottom: 68px;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 28px;
}

/* layout - section1 */
.section1 {
  width: 360px;
  padding: 31px 27px 28px;
  background-color: white;
}

.section1 > .top-container {
  display: grid;
  height: 272px;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
  margin-bottom: 20px;
}

.section1 > .bottom-container {
  display: grid;
  grid-template-columns: 200px 94px;
  grid-template-rows: 32px 32px 106px;
  gap: 12px;
}

.section1 > .bottom-container ul {
  height: calc(106px - 12 * 2px);
}

/* layout - section2  */
.section2 {
  width: 360px;
  background-color: white;
  padding: 9px 27px;
  margin-bottom: 20px;
}

/* layout - section3 */
.section3 {
  background: white;
  padding: 25px 27px 26px;
}

.section3 > .drink-list-container {
  height: 364px;
}
.section3 > .drink-list-container > ul {
  height: calc(364px - 12 * 2px);
}

@media (max-width: 851px) {
  body {
    background-color: white;
  }
  body::before {
    height: 88px;
    margin-bottom: 8px;
  }
  main {
    flex-direction: column;
    background-size: 188px 88px;
    gap: 0;
  }
}

@media (max-height: 840px) {
  main {
    padding-bottom: 30px;
  }
}

/* styling */
/* styling - section1 */
.info {
  display: flex;
  justify-content: space-between;
  background-color: #eae8fe;
  border-radius: 5px;
  padding: 6px 10px;
  font-size: 14px;
  font-weight: 500;
}

.money-input-form {
  grid-area: 2/ 1 /3 /3;
  width: 306px;
  display: flex;
}

.money-input-form input {
  width: 200px;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  margin-right: 12px;
  padding: 6px 0 7px 6px;
}

.money-input-form input:focus {
  outline: 3px solid #6327fe;
}

.money-input-form input::placeholder {
  color: #bdbdbd;
  font-weight: 500;
  font-size: 13px;
}

.btn-white {
  width: 94px;
  background-color: white;
  border: none;
  border-radius: 5px;
  padding: 6px 0 7px;
  font-weight: 500;
  font-size: 13px;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.5));
  cursor: pointer;
}

.btn-purple {
  border: none;
  background: #6327fe;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  color: white;
  font-weight: 700;
  font-size: 13px;
  line-height: 19px;
  cursor: pointer;
}

/* styling - section3  */
.section3 > .title {
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  margin-bottom: 13px;
}

.section3 > .total {
  margin-top: 6px;
  font-weight: 500;
  font-size: 12px;
  text-align: end;
}
