body {
  background: rosybrown;
}

.card-item a {
  width: 288px;
  display: block;
  /* 사진 위에 border-radius: 8px 8px 0px 0px 주기 위해서 
        box를 이미지가 벗어났을 때, 안보이게 하겠다. 라는 의미 
    */
  overflow: hidden;

  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  color: #29363d;
  border-radius: 8px;
  background: white;
}

.card-item img {
  width: 100%;
  aspect-ratio: 288/196;
  object-fit: cover;
  vertical-align: top;
}

.card-text {
  padding: 24px 16px 16px;
  /* background: gold */
}

.card-text .title {
  margin: 0;
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-text .title + p {
  font-size: 12px;
  color: #5a6a72;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  word-break: break-all;
  margin: 12px 0 16px;
  line-height: 20px;
}

.underline {
  text-decoration: underline;
  font-weight: bold;
  font-size: 14px;
  padding-left: 6px;
}
