* {
  font-family: "Spoqa Han Sans Neo", "sans-serif";
}

/* reset  */
h1,
p,
button,
input,
ul,
li,
fieldset {
  padding: 0;
  margin: 0;
}

a {
  list-style: none;
  color: inherit;
  text-decoration: none;
}

button,
fieldset {
  border: 0;
  background: none;
  font: inherit;
}

button:not(:disabled) {
  cursor: pointer;
}

ul {
  list-style: none;
}

.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

* {
  box-sizing: border-box;
}

/* styling */
section {
  margin: 0 auto;
  width: 520px;
  border: 1px solid #c4c4c4;
  border-radius: 10px;
}

/* styling - header  */
.header {
  position: relative;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  padding: 18px 0px;
  border-bottom: 1px solid #c4c4c4;
}

.close-btn {
  position: absolute;
  right: 24px;
  top: 18px;
}

.contents-wrapper {
  padding: 26px 24px 25px;
}

.contents-wrapper .title {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 24px;
}

/* styling - form */
/*         - filedset  */
fieldset:not(:first-child) {
  margin-top: 10px;
}

.login-input {
  display: block;
  width: 100%;
  padding: 15px 0px 15px 16px;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 400;
  color: #767676;
}

fieldset.error input {
  border: 2px solid #f4492e;
}

fieldset.error strong {
  display: block;
  margin-left: 5px;
  color: #f4492e;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin-top: 6px;
}

/*        - login-hold-checkbox */
.login-hold-wrapper {
  display: flex;
  align-items: center;
  margin: 17px 0 21px;
}
.login-checkbox {
  appearance: none;
  background: url(./img/check-box-empty.svg) no-repeat center;
  width: 2em;
  height: 2em;
  margin-right: 10px;
}

.login-checkbox:checked {
  background: url(./img/check-box.svg) no-repeat center;
  width: 2em;
  height: 2em;
  margin-right: 10px;
}

.login-hold-label {
  font-weight: 500;
  font-size: 16px;
}

/*        - login-btn  */
.login-btn {
  width: 100%;
  margin-bottom: 20px;
  padding: 14px 0px;
  background: #2f80ed;
  border-radius: 5px;

  color: #ffffff;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

/* styling - 회원가입 / 아이디,비밀번호 찾기 a tag  */
.a-wrapper {
  text-align: center;
  margin-bottom: 31px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #767676;
}

.a-wrapper span {
  display: inline-block;
  width: 1.1px;
  height: 14px;
  background-color: #767676;
  margin: 0px 12px;
  vertical-align: -0.2em;
}

.or-container {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #767676;
  margin-bottom: 19px;
}

.or-container::before,
.or-container::after {
  content: "";
  display: inline-block;
  width: 209px;
  height: 1px;
  background: #c4c4c4;
  vertical-align: middle;
}

.or-container::before {
  margin-right: 13px;
}

.or-container::after {
  margin-left: 13px;
}

.login-img-btn {
  width: 100%;
  padding: 15px 0px;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  color: #767676;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
li:not(:last-child) {
  margin-bottom: 10px;
}

.google {
  border-color: #767676;
  background: url(./img/Google__G__Logo\ 1.svg) no-repeat 11px 12px / 28px;
}

.facebook {
  border-color: #2d9cdb;
  background: url(./img/facebook.svg) no-repeat 11px 12px / 28px;
}

.naver {
  border-color: #00bf18;
  background: url(./img/naver-logo.svg) no-repeat 11px 12px / 28px;
}

.kakaotalk {
  border-color: #f2c94c;
  background: url(./img/message-circle.svg) no-repeat 11px 12px / 28px;
}
