* {
  font-family: "Spoqa Han Sans Neo", "sans-serif";
}

/* reset  */
h1,
p,
button,
input,
ul,
li,
fieldset {
  padding: 0;
  margin: 0;
}

a {
  list-style: none;
  color: inherit;
  text-decoration: none;
}

button,
fieldset {
  border: 0;
  background: none;
  font: inherit;
}

button:not(:disabled) {
  cursor: pointer;
}

ul {
  list-style: none;
}

.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

* {
  box-sizing: border-box;
}

/* styling */
section {
  margin: 0 auto;
  width: 520px;
  border: 1px solid #c4c4c4;
  border-radius: 10px;
}

/* styling - header  */
.header {
  position: relative;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  padding: 18px 0px;
  border-bottom: 1px solid #c4c4c4;
}

.close-btn {
  position: absolute;
  right: 24px;
  top: 18px;
}

.contents-wrapper {
  padding: 26px 24px 25px;
}

.contents-wrapper .title {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 24px;
}

/* styling - form */
/*         - filedset  */
fieldset:not(:first-child) {
  margin-top: 10px;
}

.login-input {
  display: block;
  width: 100%;
  padding: 15px 0px 15px 16px;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 400;
  color: #767676;
}

fieldset.error input {
  border: 2px solid #f4492e;
}

fieldset.error strong {
  display: block;
  margin-left: 5px;
  color: #f4492e;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin-top: 6px;
}

/*        - login-hold-checkbox */
.login-hold-wrapper {
  display: flex;
  align-items: center;
  margin: 17px 0 21px;
}
.login-checkbox {
  appearance: none;
  /* background: url(./img/css_sprites.png) -52px -10px; */
  background: url(./img/css_sprites_retina.png) -52px -10px/84px 42px;
  width: 22px;
  height: 22px;
  margin-right: 10px;
  cursor: pointer;
}

.login-checkbox:checked {
  /* background: url(./img/css_sprites.png) -10px -10px; */
  background: url(./img/css_sprites_retina.png) -10px -10px/84px 42px;
  margin-right: 10px;
}

.login-hold-label {
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
}

/*        - login-btn  */
.login-btn {
  width: 100%;
  margin-bottom: 20px;
  padding: 14px 0px;
  background: #2f80ed;
  border-radius: 5px;

  color: #ffffff;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

/* styling - 회원가입 / 아이디,비밀번호 찾기 a tag  */
.a-wrapper {
  text-align: center;
  margin-bottom: 31px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #767676;
}

.a-wrapper span {
  display: inline-block;
  width: 1.1px;
  height: 14px;
  background-color: #767676;
  margin: 0px 12px;
  vertical-align: -0.2em;
}

.or-container {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #767676;
  margin-bottom: 19px;
}

.or-container::before,
.or-container::after {
  content: "";
  display: inline-block;
  width: 208px;
  height: 1px;
  background: #c4c4c4;
  vertical-align: middle;
}

.or-container::before {
  margin-right: 13px;
}

.or-container::after {
  margin-left: 13px;
}

.login-img-btn {
  width: 100%;
  display: block;
  padding: 15px 14px;
  border-radius: 5px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #767676;
  position: relative;
}

li:not(:last-child) {
  margin-bottom: 10px;
}

[class^="icon"]::before {
  display: block;
  content: "";
  width: 1.6em;
  height: 1.6em;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  /* background: url(./img/css_sprites_icon.png); */
  background: url(./img/css_sprites_icon_retina.png);
  background-size: 96px 96px;
}

.login-img-btn.icon-google {
  border: 1px solid #767676;
}
.login-img-btn.icon-facebook {
  border: 1px solid #2d9cdb;
}

.login-img-btn.icon-naver {
  border: 1px solid #00bf18;
}

.login-img-btn.icon-kakaotalk {
  border: 1px solid #f2c94c;
}

.icon-google::before {
  background-position: -58px -10px;
}

.icon-facebook::before {
  height: 24px;
  background-position: -10px -10px;
}

.icon-naver::before {
  background-position: -58px -58px;
}

.icon-kakaotalk::before {
  background-position: -10px -58px;
}
