table {
  border: 3px solid #000;
  border-collapse: collapse;
  width: 100%;
}

caption {
  caption-side: bottom;
  margin-top: 20px;
}

th,
td {
  border: 1px solid #000;
}

th {
  background-color: #eee;
}
td {
  text-align: center;
  padding: 4px 16px;
}

tfoot td {
  font-weight: bold;
}

.col-width {
  width: 120px;
}
