* {
  box-sizing: border-box;
}

@font-face {
  font-family: "OTEnjoystoriesBA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

body {
  background-color: #5b2386;
  font-family: "GmarketSansMedium";
}

.title {
  margin: 0 auto;
  width: 564px;
  height: 265px;
  display: flex;
  align-items: center;
  background: url(../public/img/clock.png) no-repeat center;
}

.title img {
  width: 100%;
}

.message1 {
  font-family: "OTEnjoystoriesBA";
  color: #f5df4d;
  font-weight: 700;
  font-size: 36px;
  margin: 66px 0 78px;
  text-align: center;
}

.message2 {
  text-align: center;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: white;
  background: url(../public/img/quotes.png) no-repeat center;
}

.message2 strong {
  font-size: 20px;
}

.form-box {
  text-align: center;
  color: white;
  font-weight: 400;
  font-size: 24px;
  line-height: 27px;
  margin: 102px 0;
}

.form-box div:first-child {
  margin-bottom: 27px;
}

.form-box div:nth-child(2) {
  margin-bottom: 115px;
}

input {
  font: inherit;
  background: #ffffff;
  width: 228px;
  height: 57px;
  border-radius: 7px;
  margin: 0px 17px;
  padding: 17px;
  text-align: center;
}

input::placeholder {
  color: #babcbe;
}

button {
  cursor: pointer;
  padding: 21px 49px;
  background: #fcee21;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 56px;
  font: inherit;
  font-weight: 700;
  font-size: 24px;
  color: #5b2386;
  border: 0;
}
button.white {
  background-color: white;
}

.submit-btn-box {
  position: relative;
}

.submit-btn-box::after {
  content: "";
  position: absolute;
  bottom: -20px;
  display: inline-block;
  width: 64px;
  height: 72px;
  background: url("../public//img/click.png");
}

.loading-box {
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.infinite_rotating_logo {
  width: 100%;
  animation: rotate_image 1s linear infinite;
}

@keyframes rotate_image {
  100% {
    transform: rotate(360deg);
  }
}

.result-box {
  font-size: 24px;
  color: #ffffff;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
}

.result-box div:first-child {
  margin-bottom: 17px;
}

.result-box div:nth-child(2) {
  margin-bottom: 127px;
}

.result-box strong {
  font-weight: 700;
  font-size: 72px;
  margin: 0px 12px;
}

.btns-box button:first-child {
  margin-right: 18px;
}

.popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  height: 600px;
  background-color: white;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  color: #5b2386;
}

.popup strong {
  font-family: "OTEnjoystoriesBA";
  font-weight: 700;
  font-size: 96px;
}
.popup p {
  font-family: "OTEnjoystoriesBA";
  font-weight: 700;
  font-size: 36px;
}
.popup img {
  width: 433px;
  margin-bottom: 20px;
}

.popup + .dim {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.footer {
  margin: 136px 0 100px;
  text-align: center;
}
.footer img {
  display: inline-block;
  margin-bottom: 20px;
}

.footer p {
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  color: white;
}
