@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: Pretendard-Regular;
}

body {
  background-color: #fffaf0;
}

/* .login {
  width: 392px;
  margin: 0 auto;
} */

.login label,
.login input,
.login button {
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.login input {
  border: none;
  box-shadow: 0 1px 0 0 #677880;
  height: 48px;
  margin-bottom: 24px;
  border-radius: 4px;
  transition: border 0.3s;
  border-radius: 4px 4px 0 0;
  padding: 0 16px;
}

.login input:hover {
  box-shadow: 0 2px 0 0 #2e6ff2;
}

.login input:focus {
  outline: none;
  box-shadow: 0 0 0 2px #2e6ff2;
}

.login label {
  font-size: 14px;
  color: #29363d;
  margin-bottom: 8px;
}

.login button {
  background-color: #29363d;
  color: white;
  height: 48px;
  border-radius: 4px;
  border: none;
  font-weight: bold;
  font-size: 16px;
}
